Source: ostree
Section: devel
Priority: optional
Maintainer: Utopia Maintenance Team <pkg-utopia-maintainers@lists.alioth.debian.org>
Uploaders:
 Simon McVittie <smcv@debian.org>,
Build-Depends:
 bison,
 debhelper (>= 9),
 dh-autoreconf,
 dh-exec (>= 0.3),
 docbook-xml,
 docbook-xsl,
 e2fslibs-dev,
 gjs,
 gobject-introspection,
 gtk-doc-tools (>= 1.15),
 libarchive-dev (>= 2.8.0),
 libattr1-dev,
 libcap-dev,
 libgirepository1.0-dev (>= 1.34.0),
 libglib2.0-dev (>= 2.40.0),
 libgpgme11-dev (>= 1.1.8),
 libgsystem-dev (>= 2015.1),
 liblzma-dev (>= 5.0.5),
 libselinux1-dev,
 libsoup2.4-dev (>= 2.39.1),
 zlib1g-dev,
Standards-Version: 3.9.6
Homepage: https://wiki.gnome.org/Projects/OSTree
Vcs-Git: https://anonscm.debian.org/git/pkg-utopia/ostree.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-utopia/ostree.git

Package: gir1.2-ostree-1.0
Architecture: any
Section: introspection
Depends:
 ${gir:Depends},
 ${misc:Depends},
Description: content-addressed filesystem for operating system binaries (introspection)
 OSTree is a tool for managing bootable, immutable, versioned filesystem trees.
 It is not a package system; nor is it a tool for managing full disk images.
 Instead, it sits between those levels, offering a blend of the advantages (and
 disadvantages) of both.
 .
 This package can be used by other packages using the GIRepository format to
 generate dynamic bindings.

Package: libostree-1-1
Architecture: any
Section: libs
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Pre-Depends:
 ${misc:Pre-Depends},
Multi-arch: same
Description: content-addressed filesystem for operating system binaries (library)
 OSTree is a tool for managing bootable, immutable, versioned filesystem trees.
 It is not a package system; nor is it a tool for managing full disk images.
 Instead, it sits between those levels, offering a blend of the advantages (and
 disadvantages) of both.
 .
 This package contains the shared library.

Package: libostree-dev
Architecture: any
Section: libdevel
Depends:
 gir1.2-ostree-1.0 (= ${binary:Version}),
 ostree (= ${binary:Version}),
 pkg-config,
 ${misc:Depends},
Suggests:
 libostree-doc,
Description: Development files for the ostree library
 OSTree is a tool for managing bootable, immutable, versioned filesystem trees.
 It is not a package system; nor is it a tool for managing full disk images.
 Instead, it sits between those levels, offering a blend of the advantages (and
 disadvantages) of both.
 .
 This package contains development headers and the pkg-config file for ostree.

Package: libostree-doc
Architecture: all
Section: doc
Depends:
 ${misc:Depends},
Suggests:
 devhelp,
Description: Development documentation for the ostree library
 OSTree is a tool for managing bootable, immutable, versioned filesystem trees.
 It is not a package system; nor is it a tool for managing full disk images.
 Instead, it sits between those levels, offering a blend of the advantages (and
 disadvantages) of both.
 .
 This package contains development documentation for ostree.

Package: ostree
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Suggests:
 dracut,
Description: content-addressed filesystem for operating system binaries
 OSTree is a tool for managing bootable, immutable, versioned filesystem trees.
 It is not a package system; nor is it a tool for managing full disk images.
 Instead, it sits between those levels, offering a blend of the advantages (and
 disadvantages) of both.
 .
 This package contains the executables.

Package: ostree-grub2
Architecture: all
Depends:
 grub2,
 ${misc:Depends},
Description: GRUB 2 configuration for ostree
 OSTree is a tool for managing bootable, immutable, versioned filesystem trees.
 It is not a package system; nor is it a tool for managing full disk images.
 Instead, it sits between those levels, offering a blend of the advantages (and
 disadvantages) of both.
 .
 This package contains configuration snippets for using ostree with GRUB 2.
