#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@ --parallel --with=autoreconf,gir,systemd

override_dh_auto_clean:
	if [ -e Makefile ]; then dh_auto_clean; fi

override_dh_autoreconf:
	env NOCONFIGURE=1 dh_autoreconf ./autogen.sh

override_dh_auto_configure:
	dh_auto_configure -- \
		--disable-silent-rules \
		--enable-gtk-doc \
		--enable-installed-tests \
		--libexecdir='$${prefix}/lib' \
		--with-dracut \
		--with-grub2 \
		--with-systemdsystemunitdir=/lib/systemd/system \
		$(NULL)
	chmod +x tests/*.js

override_dh_install:
	rm -f debian/tmp/usr/lib/*/*.la
	rm -f debian/tmp/usr/lib/ostree/installed-tests/*.la
	dh_install --fail-missing

override_dh_fixperms:
	dh_fixperms -X'*.js'
	chmod -v +x debian/tmp/usr/lib/ostree/installed-tests/*.js
	chmod -v +x debian/tmp/usr/lib/ostree/installed-tests/*.py
	chmod -v +x debian/tmp/usr/lib/ostree/installed-tests/*.sh

override_dh_systemd_start:
	dh_systemd_start --no-start
